.header {
    height: var(--navHeightMobile);
    order: 1;

    .hamburger {
        &.open {
            .hamburger-barOne {
                @apply top-[9px];
                transform: rotate(45deg);
            }

            .hamburger-barTwo {
                opacity: 0;
                visibility: hidden;
                transition: 0.1s all linear;
            }

            .hamburger-barThree {
                @apply top-[9px];
                @apply w-[30px];
                transform: rotate(-45deg);
            }
        }
    }

    .nav {
        order: 2;

        @media (max-width: 1024px) {
            order: 3;
        }

        &--desktop {
            display: block;

            .nav {
                align-items: center;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
            }

            @media (max-width: 1024px) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media (max-width: 1024px) {
                display: block;

                .nav {
                    @apply p-md;
                    align-items: center;
                    background-color: white;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: flex-start;
                    height: calc(100vh - 85px);
                    left: 0;
                    position: fixed;
                    top: var(--navHeightMobile);
                    width: 100%;
                }
            }
        }

        li {
            @media (max-width: 1023px) {
                @apply mb-sm;
                width: 100%;
            }

            @media (min-width: 1025px) {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            a {
                @apply no-underline;
                @apply underline-offset-[3px];

                &:hover {
                    @apply underline;
                }
            }

            &.current-menu-item {
                a {
                    @apply underline;
                    @apply underline-offset-[3px];
                }
            }
        }
    }

    .cta {
        order: 3;

        @media (max-width: 1024px) {
            order: 2;
        }
    }
}
